<div class="about">
<div class="about__divider">*****</div>
<div class="about__text">
<strong style="font-size:14px;color:rgb(0, 0, 0)"> Contact Details </strong>
<!-- <p style="font-size:12px"> <i class="fa fa-envelope" style="font-size:16px;color:rgb(114, 3, 3)"></i> a.magd@alumni.kaist.ac.kr -->
<p style="font-size:12px"> <i class="fa fa-envelope" style="font-size:16px;color:rgb(114, 3, 3)"></i> a7med1magd2@gmail.com  &emsp; &emsp; &emsp; &emsp;  <i class="fa fa-phone" style="font-size:16px;color:rgb(114, 3, 3)"></i> +16047885575 </p>
<p style="font-size:12px"> <i class="fa fa-map-marker" style="font-size:16px;color:rgb(114, 3, 3)"></i> Simon Fraser University, 8888 University Drive, Burnaby, BC V5A 1S6, Canada</p>
</div>
</div>