<div class="about">
<div class="about__divider">*****</div>
<div class="about__text">
<strong> ABOUT </strong>
<br> I am a robotics master student at KAIST. Currently I am a member of the perception team at <a href="https://http://vdclab.kaist.ac.kr/"> VDC</a> Lab. My current research focuses on self-driving cars, specifically on mapping the surroundings of the ego-vehicle in a bird's eye view manner (BEV). Although I am currently working in CVML, I am interested in working with reinforcement learning (RL) and self-supervised learning (SSL) after finishing my masters.
</div>
</div>
