<div class="about">
<div class="about__divider">*****</div>
<div class="about__text">
<strong style="font-size:14px;color:rgb(0, 0, 0)"> Contact Details </strong>
<p style="font-size:12px"> <i class="fa fa-envelope" style="font-size:16px;color:rgb(114, 3, 3)"></i> a.magd@alumni.kaist.ac.kr
<!-- <p style="font-size:12px"> <i class="fa fa-envelope" style="font-size:16px;color:rgb(114, 3, 3)"></i> a.magd@alumni.kaist.ac.kr  &emsp; &emsp; &emsp; &emsp;  <i class="fa fa-phone" style="font-size:16px;color:rgb(114, 3, 3)"></i> phone number </p> -->
<p style="font-size:12px"> <i class="fa fa-map-marker" style="font-size:16px;color:rgb(114, 3, 3)"></i> 대전광역시 유성구 문지동 103-6 KAIST문지캠퍼스 기숙사</p>
</div>
</div>