<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>{{ page.title }} - Ahmed Magd</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-42ZPQ0RFYH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-42ZPQ0RFYH');
    </script>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>
<body class="demo-1 loading">
<div class="wrapper">
{% include header.html %}
{{ content }}
</div>
{% include externals/scripting.html %}
<script>
    // Your JavaScript code here
    document.querySelectorAll('.photo').forEach(photo => {
        photo.addEventListener('mouseenter', () => {
            const x = Math.random() * 100;
            const y = Math.random() * 100;
            photo.style.setProperty('--x', `${x}vw`);
            photo.style.setProperty('--y', `${y}vh`);
        });
    });
</script>
<!-- scrolling titles styles -->
<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</body>
</html>