<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title> Ahmed Magd's Home Page </title>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>
<body>
<div class="wrapper">
{% include header.html %}
{{ content }}
</div>
{% include externals/scripting.html %}
<script>
    // Your JavaScript code here
    document.querySelectorAll('.photo').forEach(photo => {
        photo.addEventListener('mouseenter', () => {
            const x = Math.random() * 100;
            const y = Math.random() * 100;
            photo.style.setProperty('--x', `${x}vw`);
            photo.style.setProperty('--y', `${y}vh`);
        });
    });
</script>
<!-- scrolling titles styles -->
<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</body>
</html>